<div id="map"></div>



<% @results.each do |result| %>
  <li><%= result[0] %></li>
<% end %>

<script type="text/javascript">




  $(document).ready(function(){
    map = new GMaps({
      div: '#map',
      lat: 39.75,
      lng: -100,
      zoom: 5,
      height: '700px',
      width: '100%'
    });



    for (var i = 0; i < gon.businesses.length; i ++) {
      map.addMarker({
        lat: gon.businesses[i].lat,
        lng: gon.businesses[i].lng,
        title: gon.businesses[i].name,
        infoWindow: {
        content: "<a id='infotitle' href=/businesses/" + gon.businesses[i].id + ">" + gon.businesses[i].name + "</h3>"+
        "<p id='infodescription'>"+ gon.businesses[i].address + "</p>"
        }
      });
    }
  });
</script>


