<div class="container">
  <form id="nl-form" class="nl-form">
      My Child is Growing Up in
      <input type="text" value="" placeholder="Los Angeles, CA" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
      <!-- <select>
          <option value="1" selected>Los Angeles, CA</option>
          <option value="2">Atlanta, GA</option>
          <option value="3">Miami, FL</option>
          <option value="4">Japanese</option>
          <option value="2">Italian</option>
      </select> -->
      <br />in a
      <!-- <select>
          <option value="1" selected>standard</option>
          <option value="2">fancy</option>
          <option value="3">hip</option>
          <option value="4">traditional</option>
          <option value="2">fine</option>
      </select> -->
      restaurant
      <!-- <select>
          <option value="1" selected>anytime</option>
          <option value="1">at 7 p.m.</option>
          <option value="2">at 8 p.m.</option>
          <option value="3">at 9 p.m.</option>
      </select> -->
      in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
      <div class="nl-submit-wrap">
          <button class="nl-submit" type="submit">Chances</button>
      </div>
      <div class="nl-overlay"></div>
  </form>
</div>