/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 html,body {width:100%;height:100%;margin:0;padding:0;}


.navbar-brand{
  color: white;
}




#navbar{
font-family: 'Lato', sans-serif;font-size: 15px;
font-weight: 300;
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.62) 64%, rgba(0,0,0,0.49) 85%, rgba(0,0,0,0.49) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(64%, rgba(0,0,0,0.62)), color-stop(85%, rgba(0,0,0,0.49)), color-stop(100%, rgba(0,0,0,0.49)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.62) 64%, rgba(0,0,0,0.49) 85%, rgba(0,0,0,0.49) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.62) 64%, rgba(0,0,0,0.49) 85%, rgba(0,0,0,0.49) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.62) 64%, rgba(0,0,0,0.49) 85%, rgba(0,0,0,0.49) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.62) 64%, rgba(0,0,0,0.49) 85%, rgba(0,0,0,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.alert{
  margin-bottom: 0px;
}

#login-form > form{
  margin-top: 12px;
}

#infotitle{
  color: red;
}
